body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
    text-align: center;
}

header {
    background-image: url(./RurqKDM.jpeg);
    color: white;
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

header p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.action-button{
    padding: 10px 20px;
    background-color: #007bff    ;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.action-button:hover{
    background-color:#0056b3;
    /* color: red; */
}

.features {  
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.features .feature {
    /* border: 1px solid ; */
    width: 300px;
    padding: 10px;
    margin: 10px;background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.features .feature:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer{
    background-color:#333;
    margin-top: 100px;
    color: white;
    align-items: center;
    padding: 10px 0;
}