*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    background-color:#E7E7D2;
    font-family: "Roboto", sans-serif;
}

.title-txt{
    color: #ffffff;
    font-size: 45px;
    margin-left: 30px; 
    transition: 0.4s;
}

.title-txt:hover{
    color: chocolate;
}

.header-container{
    display:flex;
    justify-content: space-around;
    /* flex-direction: ; */
    align-items: center;
    width: 100%;
    height: 105px;
    background-color: #101010;
    color: #ee0000;
}

nav ul li a:hover{
    margin-right: 30px;
    color: chocolate;
    transition: 0.4s;
}

.logo {
    margin-right: 600px;
}

nav {
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.section{
    background-color: #dbb5b5;
    margin: 30px;
    padding: 20px;
    line-height:25px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px 3px #01000031;
    height: 170px;
    transition: .3s;
    
}

.section.section:hover{
    background-color: #d49191;
    box-shadow: 5px 5px 10px 5px #01000088;
    transform: skew(5deg);

}

h2{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 500;
}

footer{
    background-color: #000000;
    color: white;
    width: 100%;
    text-align: center;
}
footer p{
    line-height: 30px;

}