@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #625d73;
    font-family: "Outfit", sans-serif;
}

.container {
    height: 90%;
    width: 65%;
    background-color: #261f32;
    border-radius: 12px;
    display: flex;
    color: #fff;
}

.letf-section {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    background-color: #261f32;
}

.image {
    height: 95%;
    position: relative;
    width: 95%;
    margin: 10px;
}

img {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


#logo {
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#back-button {
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.181);
    border-radius: 40px;
    transition: all 0.2s linear;
}

#back-button:hover {
    background-color: rgba(229, 229, 229, 0.126);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#image-text {
    position: absolute;
    bottom: 55px;
    left: 25%;
    font-size: 1.4rem;
    font-weight: 250;
}

.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 33%;
    gap: 10px;
    width: 30%;
    height: 5px;
}

#line-1 {
    width: 20px;
    height: 3.5px;
    border-radius: 12px;
    opacity: 0.4;
    background-color: #fff;
}

#line-2 {
    width: 20px;
    opacity: 0.4;
    height: 3.5px;
    border-radius: 12px;
    background-color: #fff;
}

#line-3 {
    width: 30px;
    height: 3.5px;
    border-radius: 12px;
    background-color: #fff;
}

.right-section {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-right {
    width: 70%;
}

.right-section h1 {
    position: absolute;
    top: 40px;
    font-size: 2rem;
}

#already {
    position: absolute;
    top: 120px;
}

.input-box  {
    width: 100%;
    padding: 5px;
    display: flex;
    gap: 10px;
    position: relative;
}

#fn, #ln {
    width: 50%;
} 

.first-last {
    margin-top: 50px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    outline:  none;
    border: none;
    border-radius: 5px;
    background-color: #fbfbfb18;
    color: white;
}

.input-box input:focus {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
}

.fa-eye {
    position: absolute;
    top: 30%;
    right: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.right-section a {
    color: rgb(198, 212, 255);
    transition: all 0.2s linear;
    font-size: 0.9rem;
}

.right-section a:hover {
    color: rgb(96, 176, 255);
}

#agree {
    margin: 10px;
}

.right-section #create-acc {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    border: none;
    margin: 10px 0;
    background-color: #554295;
    color: white;
    font-weight: bold;
    transition: all 0.3s linear;
}

#create-acc:focus ,#create-acc:hover{
    background-color: #6d40ff;

}

.reg-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reg-line-left {
    height: 1px;
    width: 25%;
    background-color: rgba(251, 251, 251, 0.297);
    border-radius: 40px;
}
.reg-line-right {
    height: 1px;
    width: 25%;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.275);
}

.google-apple {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.google-apple button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.302);
    background-color: #e4e4e400;
    color: white;
}

button i {
    padding-right: 20px;
}

@media (max-width:678px) {
    .letf-section {
        display: none;
    }
    .right-section {
        width: 100%;
    }
    .container {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}