body{
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #005f73;
    color:white;
    padding: 15px 0;
}

.header-content{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin-left: 20px;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin-right: 20px;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#hero{
    background-image: url(./images/bg_business.jpeg);
    background-size:cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-contant{
    background-color: rgba(0, 0, 0,0.5);
    padding: 20px;
    border-radius: 5px;
}

.hero-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ee6c4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.hero-btn:hover{
    background-color: #d64b2a;
}

#services{
    background-color: #fff;
    padding: 20px;
    text-align: left;
}

#services h2{
    color: #007bff;
    margin-bottom: 15px;
}

#services ul{
    list-style-type: circle;
    margin-left: 20px;
}

#services li{
    margin-bottom: 10px;
}

#about{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: left;
}

#about h2{
    color: #28a745;
    margin-bottom: 15px;
}

#contact{
    background-color: #fff;
    padding: 20px;
    text-align: left;
}

#contact h2{
    color: #dc3545;
    margin-bottom: 15px;
}

#contact p{
    margin-bottom: 10px;
}

#services li:hover, #contact p:hover {
    color: #0056b3;
    cursor: pointer;
}

footer{
    color: whitez;
    text-align: center;
    align-items: center;
    background-color: #005f73;
    padding: 10px 0;
    
}

@media screen and (max-width: 768px) {
    #services, #about, #contact {
        text-align: center;
    }

    #services ul {
        list-style-type: none;
        padding: 0;
    }
}
