*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin: 0;
    padding: 0; */
    background-color: #e8f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.event-invitation{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

 h1{
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.date-time, .venue, .description{
    margin-bottom: 15px;
    font-size: 1rem;
}

.btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}

.btn:hover{
    background-color: #45a049;
    transform: translateY(-3px);
}

@media screen and (max-width: 768px){
    .event-invitation{
        padding: 15px;
    }
    h1{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 480px){
    .event-invitation{
        padding: 10px;
    }
    h1{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.9rem;
    }
}