@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f4f8fb;
}

main{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

label{
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea{
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: none;
}

button{
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    background-color: #45a049;
    transform: translateY(-2px);
}

.fieldset{
    border: none;
    margin-top: 20px;
}